.text-center{
    text-align: center;
}
/* .bg-red{
    background: red;
} */
.container {
    /* background: red; */
    width: fit-content;
    margin: auto; /* Centers the container */
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center; /* Centers child elements */
}
.button{
    padding: 20px;
    margin: 0 3px;
    border: 2px solid black;
    border-radius: 9px;
    cursor: pointer;
}
.row{
    margin: 8px 0;
}
.row input{
    font-size: 23px;
    margin: 0;
    padding: 11px 3px;
    border: 2px solid black;
    border-radius: 6px;
}